@use "../../../assets/colors";

.loading {
  display: none;

  &.open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: colors.$gray;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    cursor: not-allowed;
  }

  .content {
    width: 76px;
    height: 76px;
    border-width: 6px;
  }
}
