@use "../../common/ui/assets/colors";

.summary {
  position: relative;
  background-color: colors.$primary;
  padding: 42px 46px 50px;
  overflow: hidden;

  .searchBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;

    button {
      padding: 10px 18px;
      font-weight: 500;
      font-size: 16px;
      background-color: colors.$bg-gray;
      color: colors.$gray;
      outline: none;
      border: none;
      cursor: pointer;

      &:active {
        transform: scale(0.98);
      }
    }

    svg {
      padding: 5px;
      padding-right: 4px;
      background-color: colors.$bg-gray;
      fill: colors.$gray;
      border-radius: 50%;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px 0;

    svg {
      width: 128px;
    }

    h1 {
      color: colors.$gray;
      font-size: 72px;
      font-weight: 500;
      margin: 0;

      span {
        color: colors.$title-gray;
        font-size: 28px;
      }
    }

    h2 {
      color: colors.$title-gray;
      font-size: 36px;
      font-weight: 600;
    }

    .info {
      color: colors.$text-gray;
      font-size: 18px;

      .date {
        display: flex;
        gap: 0 16px;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        margin-bottom: 32px;
      }

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 5px;

        svg {
          width: 18px;
          fill: colors.$text-gray;
        }

        font-weight: 600;
        text-align: center;
      }
    }
  }

  .decoration {
    filter: invert(47%) sepia(9%) saturate(397%) hue-rotate(193deg)
      brightness(89%) contrast(86%);

    opacity: 0.1;
    max-width: 150px;
    position: absolute;
    top: 0;
    left: 0;

    &.decoration-1 {
      top: 15%;
      left: -15%;
    }

    &.decoration-2 {
      top: 35%;
      left: -10%;
      transform: rotateY(180deg);
    }

    &.decoration-3 {
      top: 20%;
      left: 85%;
    }

    &.decoration-4 {
      top: 40%;
      left: 85%;
      transform: rotateY(180deg);
    }
  }
}
