@use "../../common/ui/assets/colors";

.summary {
  background-color: colors.$primary;
  padding: 40px 46px 50px;

  .headings {
    button {
      font-size: 14px;
      padding: 10px 18px;
      background-color: colors.$bg-gray;
      color: colors.$gray;
      font-weight: 500;
      outline: 0;
      border: 0;
      cursor-pointer &:active {
        transform: scale(0.98);
      }
    }

    svg {
      padding: 5px;
      padding-right: 4px;
      background-color: colors.$bg-gray;
      fill: colors.$gray;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .content {
    gap: 60px 0;

    img {
      width: 200px;
    }

    h1 {
      color: colors.$gray;
      font-size: 72px;
      font-weight: 500;

      span {
        color: colors.$title-gray;
        font-size: 28px;
      }
    }

    h2 {
      color: colors.$title-gray;
      font-size: 36px;
      font-weight: 600;
    }

    .info {
      color: colors.$text-gray;
      font-size: 18px;

      p {
        svg {
          width: 18px;
          fill: colors.$text-gray;
        }

        font-weight: 600;
        text-align: center;
      }
    }
  }

  .decoration {
    filter: invert(47%) sepia(9%) saturate(397%) hue-rotate(193deg)
      brightness(89%) contrast(86%);

    opacity: 0.1;
    max-width: 150px;
    position: absolute;
    top: 0;
    left: 0;

    &.decoration-1 {
      top: 15%;
      left: -15%;
    }

    &.decoration-2 {
      top: 35%;
      left: -10%;
      transform: rotateY(180deg);
    }

    &.decoration-3 {
      top: 20%;
      left: 85%;
    }

    &.decoration-4 {
      top: 40%;
      left: 85%;
      transform: rotateY(180deg);
    }
  }
}

@media (max-width: 992px) {
  .summary {
    padding: 30px;

    .headings {
      button {
        padding: 8px 12px;
      }
    }
    .content {
      gap: 48px;

      h1 {
        font-size: 36px;
      }

      img {
        width: 150px;
      }

      .info {
        span {
          font-size: 16px;
        }

        p {
          font-size: 14px;
        }
      }
    }

    .decoration {
      &.decoration-1,
      &.decoration-2 {
        left: -30%;
      }
    }
  }
}

@media (max-width: 768px) {
  .summary {
    padding: 20px 8px;

    .headings {
      button {
        font-size: 12px;
      }
    }
    .content {
    }
  }
}

@media (max-width: 577px) {
  .summary {
    padding: 30px;

    .headings {
      button {
        font-size: 16px;
        padding: 10px 15px;
      }
    }

    .decoration {
      &.decoration-1,
      &.decoration-2 {
        left: -15%;
      }
    }
  }
}
