$primary: #1e213a;
$secondary: #100e1d;

$yellow: #ffec65;
$gray: #e7e7eb;
$blue: #3c47e9;
$black: #110e3c;

$border-gray: #616475;
$bg-gray: #6e707a;

$title-gray: #a09fb1;
$text-gray: #88869d;

$text-disabled: #a09fb1;
