@use "../../common/ui/assets/colors";

.detail {
  background-color: colors.$secondary;
  height: 100%;

  .temperature {
    p {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      font-size: 16px;
      font-weight: 700;
      position: relative;
      top: 1px;
      cursor: pointer;
      background-color: #585676;
      color: colors.$gray;

      &.active {
        color: colors.$black;
        background-color: colors.$gray;
      }
    }
  }

  .weather-highlights {
    h3 {
      font-size: 24px;
      font-weight: 700;
      color: colors.$gray;
    }

    .highlights {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 32px;
    }
  }
}

@media (max-width: 577px) {
  .detail {
    padding: 24px;

    .temperature {
      display: none;
    }

    .weather-card {
      gap: 32px 26px;
      padding: 25px;
    }

    .weather-highlights {
      .highlights {
        grid-template-columns: 1fr;
      }
    }
  }
}
