@use "../../../common/ui/assets/colors";

.box {
  background-color: colors.$primary;
  color: colors.$gray;
  min-width: 300px;
  padding: 18px 50px;

  h4,
  p {
    margin: 0;
  }

  h4 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .data {
    font-size: 24px;

    span {
      font-size: 36px;
      font-weight: 700;
    }
  }

  .extend {
    svg {
      display: inline-block;
      width: 28px;
      transform: rotate(-135deg);
      fill: colors.$gray;
      position: relative;
      top: -1px;
    }
  }

  .progress-bar {
    .indicator {
      color: colors.$text-disabled;
    }

    .progress {
      width: 100%;
      height: 8px;
      border-radius: 80px;
      background-color: colors.$text-disabled;
      position: relative;
      margin: 5px 0;

      .bar {
        width: 0;
        height: 8px;
        border-radius: 80px;
        background-color: colors.$yellow;
        transition: 0.9s;
      }
    }

    .unit {
      color: colors.$text-disabled;
    }
  }
}

@media (max-width: 376px) {
  .box {
    min-width: auto;
    padding: 22px 30px;
  }
}
