@use "../../../common/ui/assets/colors";

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: colors.$primary;
  color: colors.$gray;
  min-width: 300px;
  padding: 22px 50px;

  h4,
  p {
    margin: 0;
  }

  h4 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .data {
    font-size: 32px;

    span {
      font-size: 48px;
      font-weight: 700;
    }
  }

  .extend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 5px;
    margin-top: 15px;

    svg {
      display: inline-block;
      width: 28px;
      transform: rotate(-135deg);
      fill: colors.$gray;
      position: relative;
      top: -1px;
    }
  }

  .progress-bar {
    width: 100%;
    margin-top: 15px;

    .indicator {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      font-weight: 700;
      color: colors.$text-disabled;
    }

    .progress {
      width: 100%;
      height: 8px;
      border-radius: 80px;
      background-color: colors.$text-disabled;
      position: relative;
      margin: 5px 0;

      .bar {
        width: 0px;
        height: 8px;
        border-radius: 80px;
        background-color: colors.$yellow;
        transition: 0.9s;
      }
    }

    .unit {
      display: flex;
      justify-content: flex-end;
      font-weight: 700;
      font-size: 12px;
      color: colors.$text-disabled;
    }
  }
}
